@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root{
    --body-backgrond-color:#c7c4c4;
    --border-radius:5rem;
    --main-bg:#2c3e50;
    --font-color:#ecf0f1;
    --footer-color:#e43b3b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
}
html{
font-size: 62.5%;
}

body{
    background-color: var(--body-backgrond-color);
}
.main-nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 9vh;
    background-color: #2c3e50;
    width: 100%;
    z-index: 100;
    border-radius: var(--border-radius);
    margin-top: 1rem;
    border:0.5rem solid lime;

}
.nav-links{
    display: flex;
    width: 60%;
    justify-content: space-around;

}

.logo{
    margin: auto;
    color : var(--font-color);
    font-family: 'Suez One', serif;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
}
.nav-links li{
    list-style: none;

}
.nav-links li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 2.5rem;
    letter-spacing: .3rem;
    font-weight: 300;
}
.nav-links li a:hover{
    transition: 200ms;
    border-bottom: 5px solid white;
}
.nav-links li a:active{
    color: #2ecc71;
    transition: 200ms;
    border-bottom: 5px solid #2ecc71;
}
.burger{
    cursor: pointer;
    display: none;
}
.burger div{
    margin: 0.6rem;
    height: 0.5rem;
    width: 3rem;
    background-color: white;
}

@media screen and (max-width:1180px) {
    .logo{
        padding-left: 2rem;
        font-size: 3rem;
    }
}
@media screen and (max-width:998px) {
    .nav-links{
        width: 50%;
    }
    .logo{
        padding-left: 2rem;
        font-size: 2.5rem;
    }
    .nav-links li a {
        font-size: 2rem;
    }
}
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
  .nav-links{
    position: absolute;
    top: 9vh;
    right: 0;
    height: 91vh;
    width: 50%;
    background-color: var(--main-bg);
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    display: none;
  }
  .logo{
    margin: 0px;
}
  .burger{
      display: block;
  }
  .nav-links li{
      animation: nav_animation 0.6s linear;
  }
  @keyframes nav_animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
}

@media screen and (max-width:480px) {
    .logo{
        padding-left: 2rem;
        font-size: 2.2rem;
        margin: 0;
    }
}

.active{
    display: flex;
    transform: translateX(0%);
}

.line1.toggle{
    transform-origin: top left;
    transform: rotate(45deg) translate(0.3rem);
    
}
.line2.toggle{
    opacity: 0;
}
.line3.toggle{
    transform-origin: top left;
    transform: rotate(-45deg) translate(-0.2rem);
}

// end of navigarion bar

.video-container video{
    width: 100%;
    height: calc(0.5625*100vw);
        margin-top: -1rem;

}
.video-container{
    position: relative;
    display: grid;
    place-items: center;

}
.welcome{
    position: absolute;
    font-size: 4rem;
    color : var(--font-color);
    letter-spacing: .45rem;
    font-family: 'Suez One', serif;
}
.quoit{
    position: absolute;
    text-align: center;
    margin-top:12rem;
    font-size: 3rem;
    color : var(--font-color);
    letter-spacing: .3rem;

}
@media  screen and (max-width:768px) {
    .welcome{
        font-size: 3rem;
    }
    .quoit{
        font-size: 2rem;
        margin-top:10rem;
    }
}
@media  screen and (max-width:480px) {
    .welcome{
        font-size: 2rem;
    }
    .quoit{
        font-size: 1.2rem;
        margin-top:6rem;
    }
}

/* style here */
.departments {
    background-color: var(--main-bg);
    text-align: center;
    height: 7rem;
    font-size: 4rem;
    color : var(--font-color);
    margin-top: 1.5rem;
    border-radius: var(--border-radius);
  }
  
  @media screen and (max-width: 420px) {
    html {
      font-size: 40%;
    }
    .departments {
      height: 5vh;
    }
  }
  
  
  .department-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 4rem;
    margin-top: 3rem;
  
  }
  .department-container > div{
    background-color: var(--main-bg);
    border-radius: 5rem;
    color: var(--body-backgrond-color);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
  }
  .department-container h3{
    font-size: 4rem;
    text-align: center;
  }
  .department-container p{
    padding: 2rem;
    font-size: 2.5rem;
  }
  .department-container > div:nth-child(odd){
    margin:  0rem 4rem;
  }
  .department-container > div:nth-child(even){
    margin:  0rem 4rem;
  }
  
  .department-container img{
    float: right;
    width: 40%;
    padding-bottom: 2rem;
  }
  #index-foot {
    margin: 0;
    grid-column: 1/-1;
    margin: 0;
  }
  @media(max-width:990px){
    .department-container{
        grid-template-columns: 1fr;
        grid-gap:3rem
    }
    
  }
  
// end of home page styling

    // start of about page styling

    .about-page-container{
        position: relative;
        top: 12vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  8rem;
        grid-auto-rows: fit-content;
        font-size: 2.5rem;
        grid-gap:4rem;
        color: var(--font-color);

    }

    // style here about page

    .about-page-container > div{
        background-color: var(--main-bg);
        margin:0rem 3rem;
    }
    .about-page-container h1,h3{
        text-align: center;   
 }
    .about-page-container > div:nth-child(2) img{
        float: right;
        width: 30%;
        padding: 3rem;
    }
    .about-page-container > div:nth-child(3) img{
        float: left;
        width: 18%;
        height: 30rem;
        padding: 3rem;
    }

    .header-container{
        grid-column: 1/-1;
        border-radius: var(--border-radius);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);

    }
    .header-container p, .boss-container p{
        padding: 4rem;
    }
    .boss-container{
        grid-column: 1/-1;
        border-radius: var(--border-radius);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);

    }
.about-header {
    grid-column: 1/-1;
    border-radius: var(--border-radius);

}
.footer{
    background-color: var(--footer-color);
    text-align: center;
    color: var(--font-color);
    font-size: 2rem;
    z-index: 10;
    margin-bottom: 4px;
}
.footer p{
    padding: 1rem;
}
#about-footer{
    grid-column: 1/-1;
    margin: 0rem;
    background-color: var(--footer-color);
;
}

@media (max-width:990px){
    .about-page-container > div:nth-child(2) img{
        width: 100%;
    }
    .boss-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-page-container > div:nth-child(3) img{
        width: auto;
    }
    
}


// end of about page styling

.contact-page-container {
    background-color: var(--main-bg);
    color : var(--font-color);
    position: relative;
    top: 12vh;    
    width: 70%;
    margin: auto;
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);

}
.contact-page-container h2{
    font-size: 4rem;
    text-align: center;
}
.my-form {
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    
}
.my-form input , button{
    height: 6rem;
    width: 40%;
    font-size: 2rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    text-align: center;
}
.my-form textarea {
    width: 40%;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
    border-radius: var(--border-radius);

}
.my-form button {
    display: flex;
    margin-top: 3rem;
    justify-content: center ;
    align-items: center;
    background-color: green;
    color : var(--font-color);
}
.my-form button:hover {
    background-color: #4e804e;
}
.contact-footer {
    font-size: 2.5rem;
    margin-top: 3rem;
}

@media (max-width:998px){
    .contact-page-container{
        width: 85%;
    }
    .my-form input , button{
        width: 60%;
    }
    .my-form textarea {
        width: 60%;  
    }
}
@media (max-width:768px){

    .my-form input , button{
        width: 80%;
    }
    .my-form textarea {
        width: 80%;  
    }
}
// end of contact page styling

.services-page-container {
    position: relative;
    top: 12vh;
    display: grid;
    font-size: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8rem;
    grid-auto-rows: auto;
    height: fit-content;
    grid-gap: 4rem;
}

.services-page-container > div{
    background-color: var(--main-bg);
    color : var(--font-color);;
    border-radius: 4rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);

}
.services-page-container > div:nth-child(odd){
    margin:  0rem 4rem;
}
.services-page-container > div:nth-child(even){
    margin:  0rem 4rem;
}

.heading {
    grid-column: 1/-1;
    text-align: center;
}
.services-page-container h3{
    text-align: center;
}
.services-page-container p{
    padding: 2rem;
}
.services-page-container img {
    width: 30%;  
    float: right;
    padding: 2rem;
}

#service-foot {
    margin: 0;
    grid-column: 1/-1;
    margin: 0;
}
#footer{
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    background-color: var(--footer-color)
}

@media(max-width:990px){
    .services-page-container{
        grid-template-columns: 1fr;
        grid-gap:3rem
    }
    
}
